!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")

    = display_meta_tags site: 'Art & Culture'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{rel: "stylesheet", href: "https://pro.fontawesome.com/releases/v5.0.13/css/all.css", integrity: ENV['FA_KEY'], crossorigin: "anonymous"}
    %link{:charset => "UTF-8", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css", :rel => "stylesheet", :type => "text/css"}/
    = javascript_pack_tag 'application'
  %body
    =react_component 'NavBar', props: {currentUser: current_user}, prerender: false
    #application-container
      = yield
    =render 'layouts/footer'
